
body
        { 
            margin: 0;
            padding: 0;
         font-family: myfont ;
        }
.top
{ 
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(images/bg.jpg);
    height: 7%;
    width: 100%;
    background-size: cover;
    background-position: center;
     
}
.nav{
    padding:  auto;
}

header{

}
.menu
{

        float: right;
    list-style-type: none;
}

.menu li
{
      display: inline-block;
}
.ele
{
    text-decoration: none;
    color:white;
    padding: 15px 50px;
    border: 1px ;
    transition: 1.5s  ease;
    font-size: 19px;
}

.ele:hover
{
    background-color: white;
    color: hsla(120, 60%, 70%,1
    );
}
.by{ 
 padding: 15PX 30PX;
    text-align: center;
    color: hsla(120, 60%, 70%,1
    );
    transition: 1.5s ease;
    display: inline-block;
    
}
.by:hover
{
color: aqua;
     
      background-color: white;
}
.by a:hover
{
color: hsla(120, 60%, 70%,1
    )   ;
     text-decoration: none;
      
}
.backg
{
    text-align: center;
    flex-wrap: wrap;
    background-color: #f2f2f2;
}
.backg >div
{
    display: inline-block;
    width: 470px;
    height: 300;
  margin-top: 50px;
    margin-left: 65px;
    margin-right: 65px;
  text-align: center;
     background-color: white;
    
 
}
.backg >div:hover
{
    display: inline-block;
    width: 470px;
    height: 300;
  margin-top: 50px;
    margin-left: 65px;
    margin-right: 65px;
  text-align: center;
     background-color: black;
   
 
}

 

.backg >div img
{
    margin-top: 10px;
    width: 450px;
    height: 250px;
    
}

.icons img
{
    width:  40px;
    height: 40px;
   
    
}